/* GRID */

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}

/* HELPERS */
@media screen and (max-width: $small) {
  .small--hide {
    display: none;
  }
}
@media screen and (min-width: $mediumUp) {
  .medium-up--hide {
    display: none;
  }
}
