/* SECTIONS */
body {
  background-color: $white;
}

// HEADER
.header {
  width: 100%;
  position: fixed;
  top: 0;
}
.header__row {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 7px 10px 7px;
  background-color: $greyBackgrounds;
  transition: all .15s;
  z-index: 10;
}
.header__logo {
  color: $white;
  font-family: $headingFont;
  font-size: 1.5em;
  padding: 10px 0 10px 20px;
  display: inline-block;
}

.mobile-nav--open {
  .header__row {
    border-bottom: 1px solid $whiteTransparent;
    background-color: $black;
  }
}

@media screen and (max-width: $small) {
  .header {
    flex-direction: column;
  }
  .header__logo {
    width: 100%;
    text-align: left;
  }
}

// NAVIGATION
.nav {
 display: inline-block;
}
.nav__list {
  list-style-type: none;
  padding-left: 0;
}
.nav__list-item {
  display: inline-block;
  padding: 10px 0 10px 50px;
  color: $white;
}

// MOBILE NAVIGATION 
.mobile-nav {
  transform: translateY(-200px);
  transition: all .3s;
  z-index: 5;
}
.mobile-nav__list {
  list-style-type: none;
  text-align: center;
  background-color: $greyBackgrounds;
  a {
    text-decoration: none;
  }
}
.mobile-nav__list-item {
  color: $white;
  padding: 10px;
  border-bottom: 1px solid $whiteTransparent;
}
.mobile-nav__trigger {
  padding: 0 10px;
  span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: $white;
    transition: all .3s;
  }
  .mobile-nav__trigger--one {
    margin-bottom: 7px;
  }
  .mobile-nav__trigger--two {
    margin-bottom: 7px;
  }
}

.mobile-nav--open {
  .mobile-nav {
    transform: translateY(0);
  }
  .mobile-nav__trigger--one {
    //margin-bottom: 7px;
    transform: rotate(45deg);
  }
  .mobile-nav__trigger--two {
    display: none;
  }
  .mobile-nav__trigger--three {
    transform: rotate(-45deg);
    margin-top: -10px;
  }
}



// HERO SECTION
.hero {
  width: 100%;
  height: 100%;
  background-image: url(../../images/hero-image.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__text {
   color: $white;
   text-align: center;
   margin-top: 100px;
   text-shadow: 3px 3px 3px $shadows;
   h1 {
     font-size: 3.5em;
   }
}
.hero__scroll {
  width: 40px;
  margin-top: 100px;
}

@media screen and (max-width: $small) {
  .hero__text {
    h1 {
      font-size: 3em;
    }  
  }
}

// SECTIONS
.section {
  padding: 60px 50px;
  max-width: 1000px;
  margin: 0 auto;
}
.section__header {
  text-align: center;
  margin-bottom: 60px;
  .section__title {
    font-size: 2.5em;
  }
}
@media screen and (max-width: $small) {
  .section {
    padding: 60px 0;
  }
}

// ABOUT SECTION
.about {
}
.about__wrapper {
 display: flex;
}
.about__image-wrapper {
  display: inline-block;
  width: 50%;
  text-align: center;
}
.about__image {
  width: 70%;
  margin: 0 auto;
}
.about__text {
  display: inline-block;
  width: 50%;
}

@media screen and (max-width: $small) {
  .about__wrapper {
    flex-direction: column;
  }  
  .about__image-wrapper {
    width: 100%;
    margin-bottom: 20px;
    .about__image {
      width: 100%;
    }
  }
  .about__text {
    width: 100%;
    padding: 20px;
  }
}

// SERVICS SECTION
.services__full-wrap {
  background-color: $darkGrey;
  color: $white;
}
.services__intro {
  margin-bottom: 60px;
}
.services__wrapper {
  display: flex;
}
.services__block {
  width: 50%;
}
.services__block-title {
  font-style: italic;
  margin-bottom: 30px;
}
.services__block-description {
  width: 90%;
}
.listen-box {
  width: 90%;
  margin-top: 65px;
  .listen-title {
    font-size: 1.4em;
    margin-bottom: 15px;
  }
  .listen-description {
    line-height: 1.4em;
    margin-bottom: 10px;
  }
  .listen-link {
    color: $white;
  }
}
.ensemble__list {
  margin-top: 15px;
  list-style-type: none;
  padding-left: 30px;
  .ensemble__list-item {
    margin-bottom: 5px;
    font-style: italic;
  }
}
.services__footer {
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: $small) {
  .services {
    padding: 60px 20px;
  }  
  .services__wrapper {
    flex-direction: column;
  }
  .services__block {
    width: 100%;
    margin-bottom: 60px;
  }
  .services__block-description {
    width: 100%;
  }
  .listen-box {
    margin-top: 20px;;
  }
  .services__footer {
    margin-top: 0;
    text-align: left;
  }
  
}

// CONTACT 


@media screen and (max-width: $small) {
  .contact {
    padding: 20px;
    margin-top: 30px;
  }  
}

// FOOTER
.footer {
  padding: 30px 20px;
  text-align: center;
  background-color: $darkGrey;
  color: $white;
}
